.search-input {
    width: 700px;
    height: 30px;
    margin-right: 10px;
}

.search-img {
    margin-right: 10px;
    width: 45px;
}

.search-btn {
    width: 60px;
    height: 36px;
    margin-right: 10px;
}
